@import '../../styles/variables.scss';

.homeContainer {
    background-color: $lightWeatherGreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        &__input {
            border-radius: 5px;
            padding: 0.5em;
            width: 40em;
            border: 0.5px solid lightgray;
            margin-right: 0.5em;
        }
        &__input:focus {
            outline: none;
            box-shadow: 0px 2px 34px -8px rgba(0,0,0,0.4);
            -webkit-box-shadow: 0px 2px 34px -8px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 2px 34px -8px rgba(0,0,0,0.4);
        }
        &__icon {
            width: 1.6em;
        }
    }
}